[package]
name = "cangw_rs_tokio_1"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
futures = "0.3"
socketcan = { version = "3.5", features = ["tokio"] }
